body, html {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 60px 0 0 0;
  clear: both;
}

#toolbar {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: pink; /* to be overridden */
}

#dmenu {
  clear: both;
  height: 20px;
}

#dmenu .prompt {
  float: left;
}

#dmenu .items {
  float: right;
}

#dmenu .items .item {
  display: inline-block;
}

#colors {
  clear: both;
}

input {
  width: 60px;
  font-family: monospace;
  border: 1px solid;
}

input.wide {
  width: 180px;
}

#i3status {
  height: 22px;
  line-height: 20px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: pink; /* to be overridden */
}

#i3status .workspaces {
  float: left;
}

#i3status .workspaces .workspace {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  height: 18px;
  text-align: center;
  margin: 1px;
  padding: 0 4px;
}

#i3status .status {
  float: right;
  padding-right: 4px;
}

#i3status,
#windows,
#dmenu {
  font-family: monospace;
  font-size: 12px;
}

#windows .title {
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 2px 0;
}

#windows .window {
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid;
}

#colors,
#configuration {
  width: 48%;
  display: block;
}

#colors {
  float: left;
}
#configuration {
  float: right;
}

pre {
  color: white;
  background: black;
  padding: 4px;
  overflow: auto;
}

#links {
  text-align: center;
  clear: both;
  margin-bottom: 32px;
}

#dmenu .prompt,
#dmenu .item {
  height: 20px;
  line-height: 20px;
  padding: 0 8px;
}

/*
#dmenu,
#dmenu .normal {
  background-color: #222222;
  color: #bbbbbb;
}

#dmenu .selected,
#dmenu .prompt {
  background-color: #005577;
  color: #eeeeee;
}

#i3status {
  background: black;
  color: white;
}

#i3status .status .item {
  color: white;
}

#i3status .status .separator {
  color: #666666;
}
#i3status .status .good {
  color: #00FF00;
}

#i3status .status .degraded {
  color: #FFFF00;
}

#i3status .status .urgent {
  color: #FF0000;
}
*/
